mnist_all.fut.txt
mnist_small_all.fut.txt
mnist_test_input.fut.txt
mnist_test_results.fut.txt
mnist_test_small_input.fut.txt
mnist_test_small_results.fut.txt
mnist_training_input.fut.txt
mnist_training_results.fut.txt
mnist_training_small_input.fut.txt
mnist_training_small_results.fut.txt
mnist_validation_input.fut.txt
mnist_validation_results.fut.txt
mnist_validation_small_input.fut.txt
mnist_validation_small_results.fut.txt
network.exe
network.exe.c
network.res
network.time
